.products{
    display: grid;
    
    grid-template-rows: min-content max-content;
    grid-row-gap: 5rem;
    padding: 7rem 0 ;
    margin-bottom: -20rem;
    background-color: $color-primary;

    &__heading {
        color: $color-secondary;
        grid-column: 1/-1;
        justify-self: center;
    }
    &.row{
        grid-column: 1/-1;
        
    }
}
 

.product{
    display: grid;
    grid-template-rows: max-content min-content;
    align-self: center;
    justify-self: center;

    &__content {
        display: block;
        border-radius: 80%;
        //background-color: rgba($color-primary, 1);
        background-color: rgba($color-grey-light-1, 0.5);
        box-shadow: 0 3.5rem 4rem rgba(black, 0.23);
        justify-self: center;
        align-self: center;

        display: grid;
        height: 12.5rem;
        width: 13rem;
        z-index: 10;
    }
    &__heading {
        justify-self: center;
        color: black;
    }
    &__title {
        
        transform: translateY(-4.7rem);
        text-align: center;
        justify-self: center;
        //color: rgb(113, 90, 55);
        color: transparent;
        background-size: cover;
        background-position: center;
        height: 28rem;
        width: 28rem;
        
        &-1{
            background-image:url(/recources/img/city-1.jpg);
        }
        &-2{
            background-image: url(/recources/img/Hi-lock-1.jpg);
        }
        &-3{
            background-image:  url(/recources/img/uni-lock-1.jpg);
        }
    }

    &__model{
        height: 8rem;
        justify-self: center;
    }

    &__img {
        width: 29rem;
        height: 28rem;
    }

    &__text{
        margin: 2rem;
        text-align: center;
        transform: translateY(-24rem);
        opacity: 0;
        color: black;
        overflow: hidden;
    }
    
    &__text:hover {
        opacity: 1;
        background-color: rgba($color-white, 0.85);
        transition: ease-in-out all 0.2s;
        
    }
}