body{
    font-family: $font-display;
    font-weight: 300;
   /* font-size: 16px;*/
    line-height: 1.7;
    color: $color-white;
}

[class^="heading-"] {
    font-family: $font-primary;
    color: $color-secondary;
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    font-size: 8.5rem;
    @media screen and (max-width: 300px) {
        font-size: 6rem;
    }
}
.bold {
    color: $color-quotes;
}
.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    //background-image: linear-gradient(to left, $color-green-blue, $color-orange);
    display: inline-block;    //to end color where our text ends
    -webkit-background-clip: text;   //so the color effect goes inside the text
    background-clip: text;
                //we have image (linear gradient in this case) on top of text
    letter-spacing: .2rem;
    transition: all 0.2s;   
    border-bottom: 4px solid $color-secondary;  
    //border-image: linear-gradient(to left, $color-green-blue, $color-orange) 1;

    @media only screen and (max-width: $bp-medium) {
        font-size: 3rem;
    }
    @media only screen and (max-width: $bp-small) {
        font-size: 2.5rem;
    }
}
.heading-secondary-white {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    //background-image: linear-gradient(to left, $color-white, $color-header-btn-dark-2);
    display: inline-block;    //to end color where our text ends
    //-webkit-background-clip: text;   //so the color effect goes inside the text
    //background-clip: text;
    color: $color-white;              //we have image (linear gradient in this case) on top of text
    letter-spacing: .2rem;
    transition: all 0.2s;   
    border-bottom: 4px solid $color-white;  
    //border-image: linear-gradient(to left, $color-header-btn, $color-header-btn-dark-2) 1;

    @media only screen and (max-width: $bp-medium) {
        font-size: 3rem;
    }
    @media only screen and (max-width: $bp-small) {
        font-size: 2.5rem;
    }
}

.heading-tertiary{
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    //color: rgb(232, 208, 150);
    color: $color-secondary;
}

.quote {
    font-size: 3.5rem;
    font-weight: 700;
    font-style: italic;
}

.paragraph{
    font-size: $default-font-size;
    &:not(:last-child){margin-bottom: 3rem;}
}

.btn {
    background-color: $color-primary;
    color: #fff;
    border:3px solid $color-primary;
    border-radius: 5px;
    font-weight: 400;
    font-family: $font-display;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.2rem 2.4rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background-color: transparent;
        color: $color-white;
        border: 3px solid $color-primary;
    }
}